<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyEnumerableIntegerRangeLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyEnumerableIntegerRangeLibrary.Properties.Settings>
            <setting name="DatabaseServer" serializeAs="String">
                <value>BONN</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>CSharp</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>anw</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>anw</value>
            </setting>
        </MyEnumerableIntegerRangeLibrary.Properties.Settings>
    </userSettings>
</configuration>